[Desktop Entry]
Name=GnGeo
Comment=NeoGeo MVS/AES emulator
Exec=gngeo.dge
Terminal=false
Type=Game
StartupNotify=true
Icon=gngeo
Categories=emulators;
Version=20191130
X-OD-Manual=gngeo.man.txt
X-OD-NeedsDownscaling=true
